// Colors
$c-white: #fff;
$c-grey: #9b9b9b;
$c-grey-darken: #7b7b7b;
$c-black: #000;
$c-blackish: #333;
$c-blueish-border: #dce6f4;
$c-bluish-shadow: rgba(3, 15, 53, 0.45);
$c-green: #25d742;
$c-green-darken: #24ac3a;
$c-yellow: #fdd008;

// Breakpoints
$b-small: 564px;
